header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #3f51b5;
    font-size: 1.8rem;
    padding: 20px;
    font-family: Oswald, Roboto, "Helvetica Neue", sans-serif;
}

.heart {
    color: #c42a2a;
    font-size: 2.2rem;
    vertical-align: top !important;
}