<div class="home-background">
    <div class="container">
        <app-header></app-header>
        <mat-card class="card">
            <mat-card-title>Bem Vindo</mat-card-title>
            <mat-card-content>Encontre seu futuro pet aqui, veja os pets disponíveis na sua região ou faça seu cadastro de um pet que gistaria que tivesse um lar. </mat-card-content>
            <button mat-stroked-button><span class="arrow-button">
                <i class="material-icons">
                 save_alt
                </i>
            </span> Comecar</button>
        </mat-card>
    </div>
</div>