/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Oswald;
    src: url(src/assets/Oswald/Oswald-VariableFont_wght.ttf);
}

.container {
    min-width: 1100px;
    max-width: 1300px;
}